
*.pt
*.pth
*.zip
# FMG_project.zip
Rotem_model/wandb/
.conda/
.vscode/
.vscode/settings.json
*.mp4
*.pdf
*.txt
*.pyc
*.cpython-311.pyc
.vscode/
.conda/
.idea/

arcive/
Rotem_model/results/
Rotem_model/models/saved_models/
Rotem_model/data/archive/
Rotem_model/data/full_muvment_clean/
Rotem_model/archive/
Rotem_model/data/
trajectory_model/data/
trajectory_model/results/
PoseEstamation/results/saved_predictions/
venv/